--
-- PostgreSQL database dump
--

\restrict CVzBn5syNjbPyzN3EfqefIzsVJHXBQuKwlSym14i1AhUvQ3mSK9MLgzFqCFhGmS

-- Dumped from database version 18.3
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: walkbuddy_dev
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO walkbuddy_dev;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: walkbuddy_dev
--

COMMENT ON SCHEMA public IS '';


--
-- Name: topology; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA topology;


ALTER SCHEMA topology OWNER TO postgres;

--
-- Name: SCHEMA topology; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA topology IS 'PostGIS Topology schema';


--
-- Name: postgis; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS postgis WITH SCHEMA public;


--
-- Name: EXTENSION postgis; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION postgis IS 'PostGIS geometry and geography spatial types and functions';


--
-- Name: delete_course_bookmarks(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.delete_course_bookmarks() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

    DELETE FROM bookmarks

    WHERE target_id = OLD.course_id

    AND target_type = 'course';

    RETURN OLD;

END;

$$;


ALTER FUNCTION public.delete_course_bookmarks() OWNER TO postgres;

--
-- Name: delete_course_review_reactions(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.delete_course_review_reactions() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

    DELETE FROM reactions

    WHERE target_id = OLD.course_review_id

    AND target_type = 'course_review';

    RETURN OLD;

END;

$$;


ALTER FUNCTION public.delete_course_review_reactions() OWNER TO postgres;

--
-- Name: delete_course_taggings(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.delete_course_taggings() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

    DELETE FROM taggings

    WHERE target_id = OLD.course_id

    AND target_type = 'course';

    RETURN OLD;

END;

$$;


ALTER FUNCTION public.delete_course_taggings() OWNER TO postgres;

--
-- Name: delete_spot_bookmarks(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.delete_spot_bookmarks() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

    DELETE FROM bookmarks

    WHERE target_id = OLD.spot_id

    AND target_type = 'spot';

    RETURN OLD;

END;

$$;


ALTER FUNCTION public.delete_spot_bookmarks() OWNER TO postgres;

--
-- Name: delete_spot_review_reactions(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.delete_spot_review_reactions() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

    DELETE FROM reactions

    WHERE target_id = OLD.spot_review_id

    AND target_type = 'spot_review';

    RETURN OLD;

END;

$$;


ALTER FUNCTION public.delete_spot_review_reactions() OWNER TO postgres;

--
-- Name: delete_spot_taggings(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.delete_spot_taggings() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

    DELETE FROM taggings

    WHERE target_id = OLD.spot_id

    AND target_type = 'spot';

    RETURN OLD;

END;

$$;


ALTER FUNCTION public.delete_spot_taggings() OWNER TO postgres;

--
-- Name: set_updated_at(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.set_updated_at() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

    NEW.updated_at = NOW();

    RETURN NEW;

END;

$$;


ALTER FUNCTION public.set_updated_at() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: bookmarks; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.bookmarks (
    bookmark_id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    target_id uuid NOT NULL,
    target_type character varying(10) NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT chk_bookmarks_target_type CHECK (((target_type)::text = ANY ((ARRAY['course'::character varying, 'spot'::character varying])::text[])))
);


ALTER TABLE public.bookmarks OWNER TO postgres;

--
-- Name: course_reviews; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.course_reviews (
    course_review_id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    course_id uuid NOT NULL,
    walk_record_id uuid NOT NULL,
    description text,
    difficulty character varying(10),
    rating numeric(2,1),
    is_public boolean DEFAULT true NOT NULL,
    status character varying(20) DEFAULT 'active'::character varying NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT chk_course_reviews_difficulty CHECK (((difficulty IS NULL) OR ((difficulty)::text = ANY ((ARRAY['easy'::character varying, 'normal'::character varying, 'hard'::character varying])::text[])))),
    CONSTRAINT chk_course_reviews_rating CHECK (((rating IS NULL) OR ((rating >= 1.0) AND (rating <= 5.0)))),
    CONSTRAINT chk_course_reviews_status CHECK (((status)::text = ANY ((ARRAY['active'::character varying, 'hidden'::character varying])::text[])))
);


ALTER TABLE public.course_reviews OWNER TO postgres;

--
-- Name: course_waypoints; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.course_waypoints (
    course_id uuid NOT NULL,
    seq smallint NOT NULL,
    type character varying(10) NOT NULL,
    spot_id uuid,
    lat numeric(9,6),
    lng numeric(9,6),
    CONSTRAINT chk_course_waypoints_columns CHECK (((((type)::text = 'spot'::text) AND (spot_id IS NOT NULL) AND (lat IS NULL) AND (lng IS NULL)) OR (((type)::text = 'pin'::text) AND (spot_id IS NULL) AND (lat IS NOT NULL) AND (lng IS NOT NULL)))),
    CONSTRAINT chk_course_waypoints_seq CHECK ((seq >= 1)),
    CONSTRAINT chk_course_waypoints_type CHECK (((type)::text = ANY ((ARRAY['spot'::character varying, 'pin'::character varying])::text[])))
);


ALTER TABLE public.course_waypoints OWNER TO postgres;

--
-- Name: courses; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.courses (
    course_id uuid DEFAULT gen_random_uuid() NOT NULL,
    owner_id uuid NOT NULL,
    name character varying(100) NOT NULL,
    description text,
    category character varying(20),
    route_geometry public.geography(LineString,4326) NOT NULL,
    total_distance integer NOT NULL,
    estimated_duration integer NOT NULL,
    is_public boolean DEFAULT true NOT NULL,
    data_source character varying(100),
    source_id character varying(100),
    status character varying(20) DEFAULT 'active'::character varying NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT chk_courses_duration CHECK ((estimated_duration > 0)),
    CONSTRAINT chk_courses_status CHECK (((status)::text = ANY ((ARRAY['active'::character varying, 'hidden'::character varying, 'deleted'::character varying])::text[]))),
    CONSTRAINT chk_courses_total_distance CHECK ((total_distance > 0))
);


ALTER TABLE public.courses OWNER TO postgres;

--
-- Name: notifications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.notifications (
    notification_id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    target_id uuid,
    target_type character varying(20),
    message text NOT NULL,
    is_read boolean DEFAULT false NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT chk_notifications_target_type CHECK (((target_type)::text = 'report'::text))
);


ALTER TABLE public.notifications OWNER TO postgres;

--
-- Name: reactions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.reactions (
    user_id uuid NOT NULL,
    target_id uuid NOT NULL,
    target_type character varying(20) NOT NULL,
    reaction character varying(10) NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT chk_reactions_reaction CHECK (((reaction)::text = ANY ((ARRAY['like'::character varying, 'dislike'::character varying])::text[]))),
    CONSTRAINT chk_reactions_target_type CHECK (((target_type)::text = ANY ((ARRAY['course_review'::character varying, 'spot_review'::character varying])::text[])))
);


ALTER TABLE public.reactions OWNER TO postgres;

--
-- Name: reports; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.reports (
    report_id uuid DEFAULT gen_random_uuid() NOT NULL,
    reporter_id uuid,
    target_id uuid,
    target_type character varying(20) NOT NULL,
    report_category character varying(20) NOT NULL,
    reason character varying(30) NOT NULL,
    memo text,
    location public.geography(Point,4326),
    photo_url text,
    status character varying(20) DEFAULT 'received'::character varying NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT chk_reports_category CHECK (((report_category)::text = ANY ((ARRAY['environment'::character varying, 'user'::character varying])::text[]))),
    CONSTRAINT chk_reports_reason CHECK (((reason)::text = ANY ((ARRAY['construction'::character varying, 'blocked'::character varying, 'dangerous'::character varying, 'info_error'::character varying, 'spam'::character varying, 'abuse'::character varying, 'inappropriate'::character varying, 'false_info'::character varying, 'portrait'::character varying, 'etc'::character varying])::text[]))),
    CONSTRAINT chk_reports_status CHECK (((status)::text = ANY ((ARRAY['received'::character varying, 'in_progress'::character varying, 'completed'::character varying, 'rejected'::character varying])::text[]))),
    CONSTRAINT chk_reports_target CHECK ((((target_id IS NOT NULL) AND (location IS NULL)) OR ((target_id IS NULL) AND (location IS NOT NULL)))),
    CONSTRAINT chk_reports_target_type CHECK (((((target_type)::text = ANY ((ARRAY['course'::character varying, 'spot'::character varying, 'course_review'::character varying, 'spot_review'::character varying, 'user'::character varying])::text[])) AND (target_id IS NOT NULL)) OR (((target_type)::text = 'location'::text) AND (location IS NOT NULL))))
);


ALTER TABLE public.reports OWNER TO postgres;

--
-- Name: spot_ai_contents; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.spot_ai_contents (
    spot_id uuid NOT NULL,
    content_type character varying(20) NOT NULL,
    script text NOT NULL,
    audio_url text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT chk_spot_ai_content_type CHECK (((content_type)::text = ANY ((ARRAY['place'::character varying, 'history'::character varying, 'tour'::character varying])::text[])))
);


ALTER TABLE public.spot_ai_contents OWNER TO postgres;

--
-- Name: spot_reviews; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.spot_reviews (
    spot_review_id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    spot_id uuid NOT NULL,
    walk_record_id uuid NOT NULL,
    description text,
    photos text[],
    is_recommended boolean,
    is_public boolean DEFAULT true NOT NULL,
    status character varying(20) DEFAULT 'active'::character varying NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT chk_spot_reviews_photos CHECK ((array_length(photos, 1) <= 5)),
    CONSTRAINT chk_spot_reviews_status CHECK (((status)::text = ANY ((ARRAY['active'::character varying, 'hidden'::character varying])::text[])))
);


ALTER TABLE public.spot_reviews OWNER TO postgres;

--
-- Name: spots; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.spots (
    spot_id uuid DEFAULT gen_random_uuid() NOT NULL,
    kakao_place_id text,
    name character varying(100) NOT NULL,
    location public.geography(Point,4326) NOT NULL,
    address text,
    categories text[] DEFAULT '{}'::text[] NOT NULL,
    kakao_category_name text,
    source character varying(20) DEFAULT 'admin'::character varying NOT NULL,
    content_place text,
    content_history text,
    content_tour text,
    recommend_pct numeric(5,2),
    status character varying(20) DEFAULT 'active'::character varying NOT NULL,
    last_synced_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT chk_spots_categories CHECK ((categories <@ ARRAY['??::text, '?꼲룻쑕?묐┝'::text, '?섎ぉ?먃룹젙??::text, '媛빧룻븯泥?::text, '?몄닔쨌??섏?'::text, '怨꾧끝쨌??룷'::text, '?댁닔?뺤옣쨌?대?'::text, '?앺깭쨌?쒖떇吏'::text, '怨듭썝쨌愿묒옣'::text])),
    CONSTRAINT chk_spots_recommend_pct CHECK (((recommend_pct IS NULL) OR ((recommend_pct >= (0)::numeric) AND (recommend_pct <= (100)::numeric)))),
    CONSTRAINT chk_spots_source CHECK (((source)::text = ANY ((ARRAY['admin'::character varying, 'kakao'::character varying])::text[]))),
    CONSTRAINT chk_spots_status CHECK (((status)::text = ANY ((ARRAY['active'::character varying, 'hidden'::character varying])::text[])))
);


ALTER TABLE public.spots OWNER TO postgres;

--
-- Name: taggings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.taggings (
    tag_id uuid NOT NULL,
    target_id uuid NOT NULL,
    target_type character varying(20) NOT NULL,
    user_id uuid NOT NULL,
    CONSTRAINT chk_taggings_target_type CHECK (((target_type)::text = ANY ((ARRAY['course'::character varying, 'spot'::character varying])::text[])))
);


ALTER TABLE public.taggings OWNER TO postgres;

--
-- Name: tags; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tags (
    tag_id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying(20) NOT NULL,
    type character varying(10) NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT chk_tags_type CHECK (((type)::text = ANY ((ARRAY['course'::character varying, 'spot'::character varying])::text[])))
);


ALTER TABLE public.tags OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    user_id uuid DEFAULT gen_random_uuid() NOT NULL,
    email character varying(320),
    password_hash character varying(255),
    nickname character varying(12) NOT NULL,
    profile_image_url text,
    social_provider character varying(20),
    social_id text,
    role character varying(20) DEFAULT 'user'::character varying NOT NULL,
    status character varying(20) DEFAULT 'active'::character varying NOT NULL,
    pref_conditions jsonb,
    pref_tag_ids jsonb,
    pref_categories jsonb,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT chk_users_auth CHECK ((((social_provider IS NULL) AND (email IS NOT NULL) AND (password_hash IS NOT NULL)) OR ((social_provider IS NOT NULL) AND (social_id IS NOT NULL)))),
    CONSTRAINT chk_users_nickname_length CHECK ((char_length((nickname)::text) >= 2)),
    CONSTRAINT chk_users_role CHECK (((role)::text = ANY ((ARRAY['user'::character varying, 'admin'::character varying])::text[]))),
    CONSTRAINT chk_users_status CHECK (((status)::text = ANY ((ARRAY['active'::character varying, 'suspended'::character varying, 'deleted'::character varying])::text[])))
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: walk_records; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.walk_records (
    walk_record_id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    course_id uuid,
    actual_route public.geography(LineString,4326),
    total_distance integer,
    duration integer,
    is_completed boolean DEFAULT false NOT NULL,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    ended_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT chk_walk_records_ended CHECK (((ended_at IS NULL) OR (ended_at >= started_at)))
);


ALTER TABLE public.walk_records OWNER TO postgres;

--
-- Data for Name: bookmarks; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.bookmarks (bookmark_id, user_id, target_id, target_type, created_at) FROM stdin;
\.


--
-- Data for Name: course_reviews; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.course_reviews (course_review_id, user_id, course_id, walk_record_id, description, difficulty, rating, is_public, status, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: course_waypoints; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.course_waypoints (course_id, seq, type, spot_id, lat, lng) FROM stdin;
\.


--
-- Data for Name: courses; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.courses (course_id, owner_id, name, description, category, route_geometry, total_distance, estimated_duration, is_public, data_source, source_id, status, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.notifications (notification_id, user_id, target_id, target_type, message, is_read, created_at) FROM stdin;
\.


--
-- Data for Name: reactions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.reactions (user_id, target_id, target_type, reaction, created_at) FROM stdin;
\.


--
-- Data for Name: reports; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.reports (report_id, reporter_id, target_id, target_type, report_category, reason, memo, location, photo_url, status, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: spatial_ref_sys; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.spatial_ref_sys (srid, auth_name, auth_srid, srtext, proj4text) FROM stdin;
\.


--
-- Data for Name: spot_ai_contents; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.spot_ai_contents (spot_id, content_type, script, audio_url, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: spot_reviews; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.spot_reviews (spot_review_id, user_id, spot_id, walk_record_id, description, photos, is_recommended, is_public, status, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: spots; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.spots (spot_id, kakao_place_id, name, location, address, categories, kakao_category_name, source, content_place, content_history, content_tour, recommend_pct, status, last_synced_at, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: taggings; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.taggings (tag_id, target_id, target_type, user_id) FROM stdin;
\.


--
-- Data for Name: tags; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.tags (tag_id, name, type, is_active, created_at) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users (user_id, email, password_hash, nickname, profile_image_url, social_provider, social_id, role, status, pref_conditions, pref_tag_ids, pref_categories, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: walk_records; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.walk_records (walk_record_id, user_id, course_id, actual_route, total_distance, duration, is_completed, started_at, ended_at, created_at) FROM stdin;
\.


--
-- Name: bookmarks pk_bookmarks; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bookmarks
    ADD CONSTRAINT pk_bookmarks PRIMARY KEY (bookmark_id);


--
-- Name: course_reviews pk_course_reviews; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.course_reviews
    ADD CONSTRAINT pk_course_reviews PRIMARY KEY (course_review_id);


--
-- Name: course_waypoints pk_course_waypoints; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.course_waypoints
    ADD CONSTRAINT pk_course_waypoints PRIMARY KEY (course_id, seq);


--
-- Name: courses pk_courses; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.courses
    ADD CONSTRAINT pk_courses PRIMARY KEY (course_id);


--
-- Name: notifications pk_notifications; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT pk_notifications PRIMARY KEY (notification_id);


--
-- Name: reactions pk_reactions; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reactions
    ADD CONSTRAINT pk_reactions PRIMARY KEY (user_id, target_id, target_type);


--
-- Name: reports pk_reports; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reports
    ADD CONSTRAINT pk_reports PRIMARY KEY (report_id);


--
-- Name: spot_ai_contents pk_spot_ai_contents; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.spot_ai_contents
    ADD CONSTRAINT pk_spot_ai_contents PRIMARY KEY (spot_id, content_type);


--
-- Name: spot_reviews pk_spot_reviews; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.spot_reviews
    ADD CONSTRAINT pk_spot_reviews PRIMARY KEY (spot_review_id);


--
-- Name: spots pk_spots; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.spots
    ADD CONSTRAINT pk_spots PRIMARY KEY (spot_id);


--
-- Name: taggings pk_taggings; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.taggings
    ADD CONSTRAINT pk_taggings PRIMARY KEY (tag_id, target_id, target_type, user_id);


--
-- Name: tags pk_tags; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tags
    ADD CONSTRAINT pk_tags PRIMARY KEY (tag_id);


--
-- Name: users pk_users; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT pk_users PRIMARY KEY (user_id);


--
-- Name: walk_records pk_walk_records; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.walk_records
    ADD CONSTRAINT pk_walk_records PRIMARY KEY (walk_record_id);


--
-- Name: bookmarks uq_bookmarks; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bookmarks
    ADD CONSTRAINT uq_bookmarks UNIQUE (user_id, target_id, target_type);


--
-- Name: course_reviews uq_course_reviews_walk_record; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.course_reviews
    ADD CONSTRAINT uq_course_reviews_walk_record UNIQUE (walk_record_id);


--
-- Name: reports uq_reports_duplicate; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reports
    ADD CONSTRAINT uq_reports_duplicate UNIQUE (reporter_id, target_id, target_type);


--
-- Name: spot_reviews uq_spot_reviews_walk_spot; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.spot_reviews
    ADD CONSTRAINT uq_spot_reviews_walk_spot UNIQUE (walk_record_id, spot_id);


--
-- Name: tags uq_tags_name_type; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tags
    ADD CONSTRAINT uq_tags_name_type UNIQUE (name, type);


--
-- Name: users uq_users_email; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT uq_users_email UNIQUE (email);


--
-- Name: users uq_users_nickname; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT uq_users_nickname UNIQUE (nickname);


--
-- Name: ix_bookmarks_user_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_bookmarks_user_type ON public.bookmarks USING btree (user_id, target_type);


--
-- Name: ix_course_reviews_course_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_course_reviews_course_id ON public.course_reviews USING btree (course_id, created_at DESC);


--
-- Name: ix_course_reviews_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_course_reviews_user_id ON public.course_reviews USING btree (user_id, created_at DESC);


--
-- Name: ix_course_waypoints_course_seq; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_course_waypoints_course_seq ON public.course_waypoints USING btree (course_id, seq);


--
-- Name: ix_course_waypoints_spot_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_course_waypoints_spot_id ON public.course_waypoints USING btree (spot_id) WHERE (spot_id IS NOT NULL);


--
-- Name: ix_courses_owner_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_courses_owner_id ON public.courses USING btree (owner_id);


--
-- Name: ix_courses_public_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_courses_public_status ON public.courses USING btree (is_public, status);


--
-- Name: ix_courses_route_geometry; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_courses_route_geometry ON public.courses USING gist (route_geometry);


--
-- Name: ix_notifications_user_read; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_notifications_user_read ON public.notifications USING btree (user_id, is_read, created_at DESC);


--
-- Name: ix_reactions_target; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_reactions_target ON public.reactions USING btree (target_type, target_id);


--
-- Name: ix_reports_location; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_reports_location ON public.reports USING gist (location) WHERE (location IS NOT NULL);


--
-- Name: ix_reports_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_reports_status ON public.reports USING btree (status, created_at DESC);


--
-- Name: ix_reports_target; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_reports_target ON public.reports USING btree (target_type, target_id) WHERE (target_id IS NOT NULL);


--
-- Name: ix_spot_ai_contents_spot_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_spot_ai_contents_spot_id ON public.spot_ai_contents USING btree (spot_id);


--
-- Name: ix_spot_reviews_spot_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_spot_reviews_spot_id ON public.spot_reviews USING btree (spot_id, created_at DESC);


--
-- Name: ix_spot_reviews_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_spot_reviews_user_id ON public.spot_reviews USING btree (user_id, created_at DESC);


--
-- Name: ix_spots_categories; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_spots_categories ON public.spots USING gin (categories);


--
-- Name: ix_spots_content_history; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_spots_content_history ON public.spots USING btree (spot_id) WHERE (content_history IS NOT NULL);


--
-- Name: ix_spots_content_place; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_spots_content_place ON public.spots USING btree (spot_id) WHERE (content_place IS NOT NULL);


--
-- Name: ix_spots_content_tour; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_spots_content_tour ON public.spots USING btree (spot_id) WHERE (content_tour IS NOT NULL);


--
-- Name: ix_spots_location; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_spots_location ON public.spots USING gist (location);


--
-- Name: ix_spots_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_spots_status ON public.spots USING btree (status);


--
-- Name: ix_taggings_tag_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_taggings_tag_id ON public.taggings USING btree (tag_id);


--
-- Name: ix_taggings_target; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_taggings_target ON public.taggings USING btree (target_type, target_id);


--
-- Name: ix_taggings_user_target; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_taggings_user_target ON public.taggings USING btree (user_id, target_type, target_id);


--
-- Name: ix_tags_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_tags_type ON public.tags USING btree (type);


--
-- Name: ix_users_admin; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_users_admin ON public.users USING btree (user_id) WHERE ((role)::text = 'admin'::text);


--
-- Name: ix_users_pref_categories; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_users_pref_categories ON public.users USING gin (pref_categories);


--
-- Name: ix_users_pref_tag_ids; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_users_pref_tag_ids ON public.users USING gin (pref_tag_ids);


--
-- Name: ix_users_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_users_status ON public.users USING btree (status);


--
-- Name: ix_walk_records_course_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_walk_records_course_id ON public.walk_records USING btree (course_id) WHERE (course_id IS NOT NULL);


--
-- Name: ix_walk_records_user_started; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_walk_records_user_started ON public.walk_records USING btree (user_id, started_at DESC);


--
-- Name: uix_courses_source_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX uix_courses_source_id ON public.courses USING btree (source_id) WHERE (source_id IS NOT NULL);


--
-- Name: uix_spots_kakao_place_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX uix_spots_kakao_place_id ON public.spots USING btree (kakao_place_id);


--
-- Name: uix_users_social; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX uix_users_social ON public.users USING btree (social_provider, social_id) WHERE (social_provider IS NOT NULL);


--
-- Name: course_reviews trg_course_reviews_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_course_reviews_updated_at BEFORE UPDATE ON public.course_reviews FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: courses trg_courses_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_courses_updated_at BEFORE UPDATE ON public.courses FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: courses trg_delete_course_bookmarks; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_delete_course_bookmarks AFTER DELETE ON public.courses FOR EACH ROW EXECUTE FUNCTION public.delete_course_bookmarks();


--
-- Name: course_reviews trg_delete_course_review_reactions; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_delete_course_review_reactions AFTER DELETE ON public.course_reviews FOR EACH ROW EXECUTE FUNCTION public.delete_course_review_reactions();


--
-- Name: courses trg_delete_course_taggings; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_delete_course_taggings AFTER DELETE ON public.courses FOR EACH ROW EXECUTE FUNCTION public.delete_course_taggings();


--
-- Name: spots trg_delete_spot_bookmarks; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_delete_spot_bookmarks AFTER DELETE ON public.spots FOR EACH ROW EXECUTE FUNCTION public.delete_spot_bookmarks();


--
-- Name: spot_reviews trg_delete_spot_review_reactions; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_delete_spot_review_reactions AFTER DELETE ON public.spot_reviews FOR EACH ROW EXECUTE FUNCTION public.delete_spot_review_reactions();


--
-- Name: spots trg_delete_spot_taggings; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_delete_spot_taggings AFTER DELETE ON public.spots FOR EACH ROW EXECUTE FUNCTION public.delete_spot_taggings();


--
-- Name: reports trg_reports_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_reports_updated_at BEFORE UPDATE ON public.reports FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: spot_ai_contents trg_spot_ai_contents_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_spot_ai_contents_updated_at BEFORE UPDATE ON public.spot_ai_contents FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: spot_reviews trg_spot_reviews_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_spot_reviews_updated_at BEFORE UPDATE ON public.spot_reviews FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: spots trg_spots_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_spots_updated_at BEFORE UPDATE ON public.spots FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: users trg_users_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_users_updated_at BEFORE UPDATE ON public.users FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: bookmarks fk_bookmarks_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bookmarks
    ADD CONSTRAINT fk_bookmarks_user FOREIGN KEY (user_id) REFERENCES public.users(user_id) ON DELETE CASCADE;


--
-- Name: course_reviews fk_course_reviews_course; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.course_reviews
    ADD CONSTRAINT fk_course_reviews_course FOREIGN KEY (course_id) REFERENCES public.courses(course_id) ON DELETE CASCADE;


--
-- Name: course_reviews fk_course_reviews_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.course_reviews
    ADD CONSTRAINT fk_course_reviews_user FOREIGN KEY (user_id) REFERENCES public.users(user_id) ON DELETE CASCADE;


--
-- Name: course_reviews fk_course_reviews_walk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.course_reviews
    ADD CONSTRAINT fk_course_reviews_walk FOREIGN KEY (walk_record_id) REFERENCES public.walk_records(walk_record_id) ON DELETE RESTRICT;


--
-- Name: course_waypoints fk_course_waypoints_course; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.course_waypoints
    ADD CONSTRAINT fk_course_waypoints_course FOREIGN KEY (course_id) REFERENCES public.courses(course_id) ON DELETE CASCADE;


--
-- Name: course_waypoints fk_course_waypoints_spot; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.course_waypoints
    ADD CONSTRAINT fk_course_waypoints_spot FOREIGN KEY (spot_id) REFERENCES public.spots(spot_id) ON DELETE RESTRICT;


--
-- Name: courses fk_courses_owner; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.courses
    ADD CONSTRAINT fk_courses_owner FOREIGN KEY (owner_id) REFERENCES public.users(user_id) ON DELETE RESTRICT;


--
-- Name: notifications fk_notifications_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT fk_notifications_user FOREIGN KEY (user_id) REFERENCES public.users(user_id) ON DELETE CASCADE;


--
-- Name: reactions fk_reactions_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reactions
    ADD CONSTRAINT fk_reactions_user FOREIGN KEY (user_id) REFERENCES public.users(user_id) ON DELETE CASCADE;


--
-- Name: reports fk_reports_reporter; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reports
    ADD CONSTRAINT fk_reports_reporter FOREIGN KEY (reporter_id) REFERENCES public.users(user_id) ON DELETE SET NULL;


--
-- Name: spot_ai_contents fk_spot_ai_contents_spot; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.spot_ai_contents
    ADD CONSTRAINT fk_spot_ai_contents_spot FOREIGN KEY (spot_id) REFERENCES public.spots(spot_id) ON DELETE CASCADE;


--
-- Name: spot_reviews fk_spot_reviews_spot; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.spot_reviews
    ADD CONSTRAINT fk_spot_reviews_spot FOREIGN KEY (spot_id) REFERENCES public.spots(spot_id) ON DELETE CASCADE;


--
-- Name: spot_reviews fk_spot_reviews_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.spot_reviews
    ADD CONSTRAINT fk_spot_reviews_user FOREIGN KEY (user_id) REFERENCES public.users(user_id) ON DELETE CASCADE;


--
-- Name: spot_reviews fk_spot_reviews_walk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.spot_reviews
    ADD CONSTRAINT fk_spot_reviews_walk FOREIGN KEY (walk_record_id) REFERENCES public.walk_records(walk_record_id) ON DELETE RESTRICT;


--
-- Name: taggings fk_taggings_tag; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.taggings
    ADD CONSTRAINT fk_taggings_tag FOREIGN KEY (tag_id) REFERENCES public.tags(tag_id) ON DELETE CASCADE;


--
-- Name: taggings fk_taggings_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.taggings
    ADD CONSTRAINT fk_taggings_user FOREIGN KEY (user_id) REFERENCES public.users(user_id) ON DELETE CASCADE;


--
-- Name: walk_records fk_walk_records_course; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.walk_records
    ADD CONSTRAINT fk_walk_records_course FOREIGN KEY (course_id) REFERENCES public.courses(course_id) ON DELETE SET NULL;


--
-- Name: walk_records fk_walk_records_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.walk_records
    ADD CONSTRAINT fk_walk_records_user FOREIGN KEY (user_id) REFERENCES public.users(user_id) ON DELETE CASCADE;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: walkbuddy_dev
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict CVzBn5syNjbPyzN3EfqefIzsVJHXBQuKwlSym14i1AhUvQ3mSK9MLgzFqCFhGmS

